html(lang="hu")
    head
        title Boginak
        //meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="stylesheets/heart.css")
    body(onscroll="parallax(event)")
        #wrapper
            img#fake-heart
            #left-x
            #right-x
            img#real-heart
            #text
                p#left
                p#right
        script(src="javascripts/heart.js")