extends layout

block content
  form#form(method="post")
    label(for="name")
      input#name(name="name")
    button(type="submit") Log in


    script(src="javascripts/libs/js.cookie.js")
    script(src="javascripts/index.js")