extends layout

block content
    ons-page
        form#form(method="post")
            p
                ons-input(name="name" modifier="underbar" placeholder="Username" float)#name
            p
                button(type="submit").button Log in


block scriptsInFoot
    script(src="/javascripts/index.js")