doctype html
html(lang="en")
    head
        title= title
        block scriptsInHead
        link(rel="stylesheet" href="/node_modules/onsenui/css/onsenui.css")
        link(rel="stylesheet" href="/node_modules/onsenui/css/onsen-css-components.css")
        //link(rel="stylesheet" href="/stylesheets/style.css")
        block styles
    body
        block content

        block scriptsInFoot