<ons-toolbar>
	<div class="center">
		Sign Up
	</div>
</ons-toolbar>
<div class="content">
  <form class="center" [formGroup]="form">
    <ons-list>
      <ons-list-item [class.hidden]="hideUserNameField">
        <ons-input 
          class="large-input"
					[class.invalid-input]="userName?.status !== 'VALID'"
          placeholder="Your user name" 
          name="userName" 
					formControlName="userName"
          required
        ></ons-input>
      </ons-list-item>
      <ons-list-item>
        <ons-input
          class="large-input"
					[class.invalid-input]="nativeLanguage?.status !== 'VALID'"
          placeholder="Your native language"
          name="nativeLanguage"
					formControlName="nativeLanguage"
          required
        ></ons-input>
      </ons-list-item>
      <ons-list-item>
        <ons-input 
          class="large-input"
					[class.invalid-input]="learnLanguage?.status !== 'VALID'"
          placeholder="Language to learn"
          name="learnLanguage"
					formControlName="learnLanguage"
          required
        ></ons-input>
      </ons-list-item>
    </ons-list>
    <ons-row class="padding" >
      <ons-col>
        <ons-button
          (click)="onSignupClick()"
					[disabled]="form.invalid" 
          modifier="large"
        >Signup</ons-button>
      </ons-col>
    </ons-row>
  </form>
</div>