.wide, .wide > * {
  width: 100%; }

ons-input.error:after, ons-input[data-error]:after, ons-select.error:after, ons-select[data-error]:after, .list__item.error:after, .list__item[data-error]:after {
  content: attr(data-error);
  font-size: 12px;
  position: absolute; }

.list__item.error:after, .list__item[data-error]:after {
  left: 16px;
  bottom: 0; }

ons-input.error:after, ons-input[data-error]:after, ons-select.error:after, ons-select[data-error]:after {
  left: 0;
  bottom: -2px; }

#change-words-form section {
  margin-top: 17px;
  margin-bottom: 17px; }
  #change-words-form section:first-child {
    margin-top: 0; }

#change-words-form .text-input {
  height: 35px; }

#change-words-form #save {
  text-align: center; }

#native, #learnable {
  width: 100%; }

#upload, #label {
  text-align: center; }

#label {
  width: 100%; }
