.wide, .wide > * {
  width: 100%; }

#change-words-form section {
  margin-top: 17px;
  margin-bottom: 17px; }
  #change-words-form section:first-child {
    margin-top: 0; }

#change-words-form .text-input {
  height: 35px; }

#change-words-form #save {
  text-align: center; }

#native, #learnable {
  width: 100%; }

#upload, #label {
  text-align: center; }
  #upload p, #label p {
    margin: 4px 0; }

#label {
  width: 100%; }
