.wide, .wide input {
  width: 100%; }

ons-input.error:after, ons-input[data-error]:after, ons-select.error:after, ons-select[data-error]:after, .list__item.error:after, .list__item[data-error]:after {
  content: attr(data-error);
  font-size: 12px;
  position: absolute; }

.list__item.error:after, .list__item[data-error]:after {
  left: 16px;
  bottom: 0; }

ons-input.error:after, ons-input[data-error]:after, ons-select.error:after, ons-select[data-error]:after {
  left: 0;
  bottom: -13px; }

.input-cleaner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer; }

.photo-preview {
  width: 50px;
  max-height: 45px;
  position: absolute;
  right: 2%; }

ons-button:not(ons-toolbar-button) > .ons-icon--ion {
  vertical-align: 0; }

ons-button > ons-icon {
  margin-right: 5px; }

.hidden {
  display: none; }

#change-words-form section {
  margin-top: 17px;
  margin-bottom: 17px; }
  #change-words-form section:first-child {
    margin-top: 0; }

#change-words-form .text-input {
  height: 35px; }

#change-words-form #save {
  text-align: center; }

#change-words-items .left, #change-words-items .right {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 48%; }

#change-words-items .left {
  text-align: left; }

#change-words-items .center {
  justify-content: center; }

#change-words-items .right {
  text-align: right; }

.page__content.learn {
  padding: 0; }

#learn-area {
  height: calc(100% - 4px); }
  #learn-area ons-tabbar {
    margin-top: 4px; }
    #learn-area ons-tabbar .page__content {
      padding: 6px 10px 10px; }
  #learn-area .word-container {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: calc(100% - 4px - 16px);
    padding: 6px 10px 10px;
    overflow: hidden; }
    #learn-area .word-container.go-away {
      left: -105%;
      padding: 6px 0 10px;
      transition: .4s ease-in; }
    #learn-area .word-container.come-here {
      left: 0;
      padding: 6px 10px 10px;
      transition: .4s ease-out; }
    #learn-area .word-container.hidden {
      display: initial;
      left: 100%;
      padding: 6px 0 10px; }
    #learn-area .word-container p {
      text-align: center; }
    #learn-area .word-container img {
      max-width: 500px;
      width: 90%;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0; }
