body.ios[data-colour='red'] .back-button, body.ios[data-colour='red'] .toolbar-button, body.ios[data-colour='red'] .select-input, body.ios[data-colour='red'] .ons-icon {
  color: #ff3b30; }

body.ios[data-colour='red'] ons-input.error:after, body.ios[data-colour='red'] ons-input[data-error]:after, body.ios[data-colour='red'] ons-select.error:after, body.ios[data-colour='red'] ons-select[data-error]:after, body.ios[data-colour='red'] .list__item.error:after, body.ios[data-colour='red'] .list__item[data-error]:after {
  color: #eee; }

body.ios[data-colour='red'] ons-input .list__item.error > .center, body.ios[data-colour='red'] ons-input .list__item[data-error] > .center, body.ios[data-colour='red'] ons-select .list__item.error > .center, body.ios[data-colour='red'] ons-select .list__item[data-error] > .center, body.ios[data-colour='red'] .list__item .list__item.error > .center, body.ios[data-colour='red'] .list__item .list__item[data-error] > .center {
  color: #eee; }

body.ios[data-colour='red'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #ff3b30;
  background-color: #ff3b30; }

body.ios[data-colour='red'] .button {
  background-color: #ff3b30; }

body.ios[data-colour='red'][data-style='light'] .button.red {
  background-color: #111; }

body.ios[data-colour='red'][data-style='dark'] .button.red {
  background-color: #eee;
  color: #111; }

body.ios[data-colour='orange'] .back-button, body.ios[data-colour='orange'] .toolbar-button, body.ios[data-colour='orange'] .select-input, body.ios[data-colour='orange'] .ons-icon {
  color: #ff9500; }

body.ios[data-colour='orange'] ons-input.error:after, body.ios[data-colour='orange'] ons-input[data-error]:after, body.ios[data-colour='orange'] ons-select.error:after, body.ios[data-colour='orange'] ons-select[data-error]:after, body.ios[data-colour='orange'] .list__item.error:after, body.ios[data-colour='orange'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='orange'] ons-input .list__item.error > .center, body.ios[data-colour='orange'] ons-input .list__item[data-error] > .center, body.ios[data-colour='orange'] ons-select .list__item.error > .center, body.ios[data-colour='orange'] ons-select .list__item[data-error] > .center, body.ios[data-colour='orange'] .list__item .list__item.error > .center, body.ios[data-colour='orange'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='orange'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #ff9500;
  background-color: #ff9500; }

body.ios[data-colour='orange'] .button {
  background-color: #ff9500; }
  body.ios[data-colour='orange'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='yellow'] .back-button, body.ios[data-colour='yellow'] .toolbar-button, body.ios[data-colour='yellow'] .select-input, body.ios[data-colour='yellow'] .ons-icon {
  color: #ffcc00; }

body.ios[data-colour='yellow'] ons-input.error:after, body.ios[data-colour='yellow'] ons-input[data-error]:after, body.ios[data-colour='yellow'] ons-select.error:after, body.ios[data-colour='yellow'] ons-select[data-error]:after, body.ios[data-colour='yellow'] .list__item.error:after, body.ios[data-colour='yellow'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='yellow'] ons-input .list__item.error > .center, body.ios[data-colour='yellow'] ons-input .list__item[data-error] > .center, body.ios[data-colour='yellow'] ons-select .list__item.error > .center, body.ios[data-colour='yellow'] ons-select .list__item[data-error] > .center, body.ios[data-colour='yellow'] .list__item .list__item.error > .center, body.ios[data-colour='yellow'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='yellow'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #ffcc00;
  background-color: #ffcc00; }

body.ios[data-colour='yellow'] .button {
  background-color: #ffcc00; }
  body.ios[data-colour='yellow'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='green'] .back-button, body.ios[data-colour='green'] .toolbar-button, body.ios[data-colour='green'] .select-input, body.ios[data-colour='green'] .ons-icon {
  color: #4fd964; }

body.ios[data-colour='green'] ons-input.error:after, body.ios[data-colour='green'] ons-input[data-error]:after, body.ios[data-colour='green'] ons-select.error:after, body.ios[data-colour='green'] ons-select[data-error]:after, body.ios[data-colour='green'] .list__item.error:after, body.ios[data-colour='green'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='green'] ons-input .list__item.error > .center, body.ios[data-colour='green'] ons-input .list__item[data-error] > .center, body.ios[data-colour='green'] ons-select .list__item.error > .center, body.ios[data-colour='green'] ons-select .list__item[data-error] > .center, body.ios[data-colour='green'] .list__item .list__item.error > .center, body.ios[data-colour='green'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='green'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #4fd964;
  background-color: #4fd964; }

body.ios[data-colour='green'] .button {
  background-color: #4fd964; }
  body.ios[data-colour='green'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='teal-blue'] .back-button, body.ios[data-colour='teal-blue'] .toolbar-button, body.ios[data-colour='teal-blue'] .select-input, body.ios[data-colour='teal-blue'] .ons-icon {
  color: #5ac8fa; }

body.ios[data-colour='teal-blue'] ons-input.error:after, body.ios[data-colour='teal-blue'] ons-input[data-error]:after, body.ios[data-colour='teal-blue'] ons-select.error:after, body.ios[data-colour='teal-blue'] ons-select[data-error]:after, body.ios[data-colour='teal-blue'] .list__item.error:after, body.ios[data-colour='teal-blue'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='teal-blue'] ons-input .list__item.error > .center, body.ios[data-colour='teal-blue'] ons-input .list__item[data-error] > .center, body.ios[data-colour='teal-blue'] ons-select .list__item.error > .center, body.ios[data-colour='teal-blue'] ons-select .list__item[data-error] > .center, body.ios[data-colour='teal-blue'] .list__item .list__item.error > .center, body.ios[data-colour='teal-blue'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='teal-blue'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #5ac8fa;
  background-color: #5ac8fa; }

body.ios[data-colour='teal-blue'] .button {
  background-color: #5ac8fa; }
  body.ios[data-colour='teal-blue'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='blue'] .back-button, body.ios[data-colour='blue'] .toolbar-button, body.ios[data-colour='blue'] .select-input, body.ios[data-colour='blue'] .ons-icon {
  color: #007aff; }

body.ios[data-colour='blue'] ons-input.error:after, body.ios[data-colour='blue'] ons-input[data-error]:after, body.ios[data-colour='blue'] ons-select.error:after, body.ios[data-colour='blue'] ons-select[data-error]:after, body.ios[data-colour='blue'] .list__item.error:after, body.ios[data-colour='blue'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='blue'] ons-input .list__item.error > .center, body.ios[data-colour='blue'] ons-input .list__item[data-error] > .center, body.ios[data-colour='blue'] ons-select .list__item.error > .center, body.ios[data-colour='blue'] ons-select .list__item[data-error] > .center, body.ios[data-colour='blue'] .list__item .list__item.error > .center, body.ios[data-colour='blue'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='blue'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #007aff;
  background-color: #007aff; }

body.ios[data-colour='blue'] .button {
  background-color: #007aff; }
  body.ios[data-colour='blue'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='purple'] .back-button, body.ios[data-colour='purple'] .toolbar-button, body.ios[data-colour='purple'] .select-input, body.ios[data-colour='purple'] .ons-icon {
  color: #5856d6; }

body.ios[data-colour='purple'] ons-input.error:after, body.ios[data-colour='purple'] ons-input[data-error]:after, body.ios[data-colour='purple'] ons-select.error:after, body.ios[data-colour='purple'] ons-select[data-error]:after, body.ios[data-colour='purple'] .list__item.error:after, body.ios[data-colour='purple'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='purple'] ons-input .list__item.error > .center, body.ios[data-colour='purple'] ons-input .list__item[data-error] > .center, body.ios[data-colour='purple'] ons-select .list__item.error > .center, body.ios[data-colour='purple'] ons-select .list__item[data-error] > .center, body.ios[data-colour='purple'] .list__item .list__item.error > .center, body.ios[data-colour='purple'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='purple'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #5856d6;
  background-color: #5856d6; }

body.ios[data-colour='purple'] .button {
  background-color: #5856d6; }
  body.ios[data-colour='purple'] .button.red {
    background-color: #ff3b30; }

body.ios[data-colour='pink'] .back-button, body.ios[data-colour='pink'] .toolbar-button, body.ios[data-colour='pink'] .select-input, body.ios[data-colour='pink'] .ons-icon {
  color: #ff2d55; }

body.ios[data-colour='pink'] ons-input.error:after, body.ios[data-colour='pink'] ons-input[data-error]:after, body.ios[data-colour='pink'] ons-select.error:after, body.ios[data-colour='pink'] ons-select[data-error]:after, body.ios[data-colour='pink'] .list__item.error:after, body.ios[data-colour='pink'] .list__item[data-error]:after {
  color: #ff3b30; }

body.ios[data-colour='pink'] ons-input .list__item.error > .center, body.ios[data-colour='pink'] ons-input .list__item[data-error] > .center, body.ios[data-colour='pink'] ons-select .list__item.error > .center, body.ios[data-colour='pink'] ons-select .list__item[data-error] > .center, body.ios[data-colour='pink'] .list__item .list__item.error > .center, body.ios[data-colour='pink'] .list__item .list__item[data-error] > .center {
  color: #ff3b30; }

body.ios[data-colour='pink'] input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #ff2d55;
  background-color: #ff2d55; }

body.ios[data-colour='pink'] .button {
  background-color: #ff2d55; }
  body.ios[data-colour='pink'] .button.red {
    background-color: #ff3b30; }

body.ios[data-style='light'] .page, body.ios[data-style='light'] .page__content, body.ios[data-style='light'] .list, body.ios[data-style='light'] .toolbar {
  background-color: #eee !important; }

body.ios[data-style='light'] .toolbar__title, body.ios[data-style='light'] .list-item, body.ios[data-style='light'] input {
  color: #111; }

body.ios[data-style='light'] .switch__toggle {
  background-color: #eee;
  box-shadow: inset 0 0 0 2px #d4d4d4; }

body.ios[data-style='light'] .switch__handle {
  background-color: #eee;
  box-shadow: 0 0 0 1px #eee, 0 3px 2px rgba(0, 0, 0, 0.25); }

body.ios[data-style='light'] .toolbar {
  background-image: linear-gradient(0deg, #cccccc, #cccccc 100%); }

body.ios[data-style='light'] .list {
  background-image: linear-gradient(#bbbbbb, #bbbbbb), linear-gradient(#bbbbbb, #bbbbbb); }

body.ios[data-style='light'] .list-item--longdivider {
  background-image: linear-gradient(0deg, #bbbbbb, #bbbbbb 100%); }

body.ios[data-style='dark'] .page, body.ios[data-style='dark'] .page__content, body.ios[data-style='dark'] .list, body.ios[data-style='dark'] .toolbar {
  background-color: #111 !important; }

body.ios[data-style='dark'] .toolbar__title, body.ios[data-style='dark'] .list-item, body.ios[data-style='dark'] input {
  color: #eee; }

body.ios[data-style='dark'] .switch__toggle {
  background-color: #111;
  box-shadow: inset 0 0 0 2px #2b2b2b; }

body.ios[data-style='dark'] .switch__handle {
  background-color: #111;
  box-shadow: 0 0 0 1px #111, 0 3px 2px rgba(255, 255, 255, 0.25); }

body.ios[data-style='dark'] .toolbar {
  background-image: linear-gradient(0deg, #333333, #333333 100%); }

body.ios[data-style='dark'] .list {
  background-image: linear-gradient(#444444, #444444), linear-gradient(#444444, #444444); }

body.ios[data-style='dark'] .list-item--longdivider {
  background-image: linear-gradient(0deg, #444444, #444444 100%); }

body.ios .input-cleaner {
  padding: 10px;
  right: 1%; }

body.ios .list__item.error:after, body.ios .list__item[data-error]:after {
  bottom: -13px; }

body.android #native .text-input--material__label, body.android #learnable .text-input--material__label {
  top: initial; }

body.android #change-words-form .list__item--material__center {
  background-image: none; }

body.android ons-input.error:after, body.android ons-input[data-error]:after, body.android ons-select.error:after, body.android ons-select[data-error]:after, body.android .list__item.error:after, body.android .list__item[data-error]:after {
  color: #f44336; }

body.android ons-input.error input, body.android ons-input[data-error] input, body.android ons-select.error input, body.android ons-select[data-error] input, body.android .list__item.error input, body.android .list__item[data-error] input {
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(to top, transparent 1px, #afafaf 1px); }

body.android .input-cleaner {
  right: 5%;
  padding: 6px; }

.none {
  display: none; }

.page__content {
  padding: 10px; }
