<ons-toolbar>
    <div class="left">
        <ons-back-button>
            <a routerLink="./.." routerLinkActive="active">
                Back
            </a>
        </ons-back-button>
    </div>
    <div class="center">
        Menu
    </div>
	<div class="right">
		<ons-toolbar-button>
			Log out
		</ons-toolbar-button>
	</div>
</ons-toolbar>
<div class="content padding-side">
    <ons-row>
        <ons-col>
            <ons-button class="padding" modifier="large">Add   words</ons-button>
        </ons-col>
    </ons-row>
</div>

