extends layout

include _mixins

block scriptsInHead
    script(src="/node_modules/js-cookie/src/js.cookie.js")
    script(src="javascripts/header.js")

block styles
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/menu.css")


block content
    ons-navigator(page="menu")#navigator

    ons-template#menu
        ons-page#menu
            ons-toolbar
                .center Main menu
                .right
                    //settings button
            .menu
                p
                    ons-button(modifier="large")#change-words Add words
                p
                    ons-button(modifier="large")#change-labels Add labels
                p
                    ons-button(modifier="large")#settings-learn Learn
                p
                    ons-button(modifier="large")#settings Settings


    include partials/change-words
    include partials/change-labels
    include partials/settings-learn
    include partials/settings


block scriptsInFoot
    script(src="javascripts/menu.js")