extends layout

block scriptsInHead
    script(src="javascripts/menu.js")

block styles
    link(rel="stylesheet" href="/stylesheets/modals.css")

block content
    ons-navigator(page="menu")#navigator

    ons-template#menu
        ons-page#menu
            ons-toolbar
                .center Menu
            .menu
                p
                    ons-button#change-words Add words


    include partials/change-words
