extends layout

block scriptsInHead
    script(src="javascripts/menu.js")

block styles
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/menu.css")

block content
    ons-navigator(page="menu")#navigator

    ons-template#menu
        ons-page#menu
            ons-toolbar
                .center Main menu
            .menu
                p
                    ons-button(modifier="large")#change-words Add words
                p
                    ons-button(modifier="large")#change-labels Add labels


    include partials/change-words
    include partials/change-labels
