+template("change-label-form", "", "All words")
    section
        p
            ons-input(modifier="underbar" placeholder="Label" float)#label.wide

    p
        ons-button(modifier="large")#save Save
    p#delete-wrapper