ons-template#change-label-form
    ons-page#change-label-form
        ons-toolbar
            .left
                ons-back-button All words
            .center

        section
            p
                ons-input(modifier="underbar" placeholder="Label" float)#label

        p
            ons-button(modifier="large")#save Save
        p
            ons-button(modifier="large")#delete.red Delete