+template("settings-learn", "Settings of learning", "Main", "Go", "go-learn", "md-arrow-right")
    ons-list#settings-learn-items
        ons-list-item(modifier="longdivider")
            .left
                label(for="sort") Sort:
            .center
                ons-select(select-id="sort").wide
                    option(value="0") Alphabetical
                    option(value="1") Reverse alphabetical
                    option(value="2") How uploaded
                    option(value="3") Reverse how uploaded
                    option(value="4") Random
        ons-list-item(modifier="longdivider")
            .left
                label(for="label") Label:
            .center
                ons-select(select-id="label").wide
                    option(value="0") All
        ons-list-item(modifier="longdivider")
            .center
                label(for="show-both") Show both words:
            .right
                ons-switch(input-id="show-both")
        ons-list-item(modofier="longdivider")
            .left
                label(for="show-first") Show first:
            .center
                ons-select(select-id="show-first").wide
                    option(value="native")= user.native + " word"
                    option(value="learnable")= user.learnable + " word"


include learn
