#change-words-form
  section
    margin:
      top: 17px
      bottom: 17px
    &:first-child
      margin-top: 0
  .text-input
    height: 35px
  #save
    text-align: center


#native-plus, #learnable-plus
  vertical-align: 0
  cursor: pointer
  margin-left: 10%

.input-wrapper
  width: 100%
  .ons-icon
    width: 10%
    height: 25px
    vertical-align: -50%
    cursor: pointer
  ons-input, .text-input
    width: 90%

#upload
  text-align: center
  p
    margin: 4px 0