@import "../reusable/ios_values"

body.ios
  .button
    background-color: $ios-blue
    &.red
      background-color: $ios-red

  ons-input, ons-select, .list__item
    &.error, &[data-error]
      &:after
        color: $ios-red

  .list__item
    &.error, &[data-error]
      &:after
        bottom: -13px
      > .center
        color: $ios-red


  .input-cleaner
    padding: 10px
    right: 1%